<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <style>
      .registerFormDiv {
        margin: auto auto;
        padding: 30px;
        transform: translate(0, 5%);
        width: 800px;
        border: 3px solid rgb(134, 23, 60);
        border-radius: 5%;
        position: relative;
      }
      .registerHeadline {
        margin-bottom: 10px;
        transform: translate(-33%, 0);
      }
      .btnEffect {
        color: #fefefe;
        background: #190042;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        border: 4px solid #190042;
        text-align: center;
        border-radius: 60px;
        width: 100px;
        padding: 5px;
        margin-top: 5%;
      }
      .btnEffect:hover {
        background: transparent;
        color: #190042;
      }
      .registerFormDiv img {
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200px;
        position: absolute;
        bottom: 5%;
        left: 4%;
      }
      .navBarStyle {
        background-color: rgb(207, 139, 162);
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <%- include("partials/navbar", {firstName: ""}) %>
        <div class="registerFormDiv">
          <h2 class="registerHeadline">הרשמה</h2>
          <img src="/images/hello_dog.jpg" alt="hello" />
          <form action="/register" method="post">
            <!-- first name -->
            <div class="form-group form-row">
              <label for="firstName" class="col-sm-2 col-form-label"
                >שם פרטי
              </label>
              <div class="col-sm-5">
                <input
                  type="text"
                  class="form-control"
                  name="firstName"
                  id="firstName"
                  pattern="^[א-ת][א-ת-' ]{1,20}$"
                  value="<% if (firstName) { %> <%- firstName %> <% } %>"
                  required
                />
                <small id="firstName" class="form-text text-muted">
                  בעברית בבקשה
                </small>
              </div>
            </div>
            <!-- last name -->
            <div class="form-group form-row">
              <label for="lastName" class="col-sm-2 col-form-label"
                >שם משפחה
              </label>
              <div class="col-sm-5">
                <input
                  type="text"
                  class="form-control"
                  name="lastName"
                  id="lastName"
                  pattern="^[א-ת][א-ת-' ]{1,20}$"
                  value="<% if (lastName) { %> <%- lastName %> <% } %>"
                  required
                />
                <small id="firstName" class="form-text text-muted">
                  בעברית בבקשה
                </small>
              </div>
            </div>
            <!-- email -->
            <div class="form-group form-row">
              <label for="email" class="col-sm-2 col-form-label">דוא"ל </label>
              <div class="col-sm-5 handWriteFontEnglish">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  value="<% if (email) { %> <%- email %> <% } %>"
                  id="email"
                  required
                />
              </div>
            </div>
            <!-- user Name -->
            <div class="form-group form-row">
              <label for="username" class="col-sm-2 col-form-label"
                >שם משתמש
              </label>
              <div class="col-sm-5 handWriteFontEnglish">
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  value=""
                  required
                />
                <small class="form-text text-danger">
                  <% if (message) { %> <%= message %> <% } %>
                </small>
              </div>
            </div>

            <!-- password -->
            <div class="form-group form-row">
              <label for="password" class="col-sm-2 col-form-label"
                >סיסמה
              </label>
              <div class="col-sm-5">
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  value=""
                  pattern="[0-9a-zA-Z]{4,8}"
                  required
                />
                <small id="password" class="form-text text-muted">
                  הסיסמה צריכה להיות מורכבת מ 4-8 אותיות ומספרים
                </small>
              </div>
            </div>

            <!-- admin code -->
            <div class="form-group form-row">
              <label for="adminCode" class="col-sm-2 col-form-label"
                >קוד אדמין
              </label>
              <div class="col-sm-2 ">
                <input
                  type="text"
                  class="form-control"
                  name="adminCode"
                  id="adminCode"
                  pattern="[0-9]{4}"
                  value=""
                />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-9 offset-sm-4">
                <button type="submit" class="btnEffect">רישום</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
