<% include partials/header %>
<title>My Card</title>
<link rel="stylesheet" href="/stylesheets/showCard.css" />
</head>
<body>
  <div id="wrapper">
    <div class="container">
      <div class="cardDiv  <%- cardData.cssStyle %>">
        <div class="text1">
          <div class="firstLine">
            <%= cardData.recipientDescription %> <%= cardData.genderDescription
            %>
          </div>
          <div class="eventMsg"><%= cardData.eventDescription %> </div>
          <div class="msg">
            <%= cardData.line1Description %>
            <br />
            <%= cardData.line2Description %>
          </div>
          <div class="lastLine">
            <%= cardData.senderSignatureDescription %> <%=
            cardData.senderNameDescription %>
          </div>
        </div>
        <div class="imgStyle">
          <img src= <%= cardData.picUrl %> alt= <%= cardData.eventType %> />
        </div>
      </div>
      <div class="btns">
        <button id="captureBtn">שמירה</button>
        <button id="editBtn">עריכה</button>
      </div>
      <div class="instructions">
        * לחיצה על כפתור שמירה תפתח חלון חדש בו עליכם ללחוץ על 'שמירה כתמונה'
      </div>
    </div>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script src="/javascript/html2canvas.js"></script>
  <script src="/javascript/printscreen.js"></script>

  <% include partials/footer %>

