<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/showCard.css" />
    <style>
      .btnEffect {
        color: #fefefe;
        background: #190042;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        border: 4px solid #190042;
        text-align: center;
        border-radius: 60px;
        width: 180px;
        padding: 5px;
        margin: 0 5px;
      }
      .btnEffect:hover {
        background: transparent;
        color: #190042;
      }
      .navBarStyle {
        background-color: #b698e6;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <%- include("partials/navbar", {firstName: firstName}) %>

        <div class="cardDiv  <%- cardData.cssStyle %>">
          <div class="text1">
            <div class="firstLine">
              <%= cardData.recipientDescription %><%= cardData.genderDescription
              %>
            </div>
            <div class="eventMsg"><%= cardData.eventDescription %></div>
            <div class="msg">
              <%= cardData.line1Description %>
              <br />
              <%= cardData.line2Description %>
            </div>
            <div class="lastLine">
              <%= cardData.senderSignatureDescription %> <%=
              cardData.senderNameDescription %>
            </div>
          </div>
          <div class="imgStyle">
            <img src= <%= cardData.picUrl %> alt= <%= cardData.eventType %> />
          </div>
        </div>
        <div class="btns">
          <button class="btnEffect" id="captureBtn">
            הצגת תמונה
          </button>
          <button class="btnEffect" id="editBtn">עריכה</button>
        </div>
        <div class="instructions">
          * לחיצה על כפתור הצגת תמונה תפתח חלון חדש בו עליכם ללחוץ על לחצן ימני
          ו'שמירה כתמונה'
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/html2canvas.js"></script>
    <script src="/javascript/printscreen.js"></script>
    <script src="/javascript/editCardBtn.js"></script>

    <!-- <% include partials/footer %> -->
  </body>
</html>
